<a href="https://colab.research.google.com/github/Abdulwadud4/ACCESS-6.0-Data-Science-track/blob/main/WEEK_2_SESSION_3_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
warehouse = pd.read_csv("/content/Warehouse_and_Retail_Sales.csv")

In [17]:
#inspecting the dataset
warehouse.head(10)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0
5,2020,1,KYSELA PERE ET FILS LTD,100641,CORTENOVA VENETO P/GRIG - 750ML,WINE,2.76,0.0,6.0
6,2020,1,SANTA MARGHERITA USA INC,100749,SANTA MARGHERITA P/GRIG ALTO - 375ML,WINE,0.08,1.0,1.0
7,2020,1,BROWN-FORMAN BEVERAGES WORLDWIDE,1008,JACK DANIELS COUNTRY COCKTAIL SOUTHERN PEACH -...,BEER,0.00,0.0,2.0
8,2020,1,JIM BEAM BRANDS CO,10103,KNOB CREEK BOURBON 9YR - 100P - 375ML,LIQUOR,6.41,4.0,0.0
9,2020,1,INTERNATIONAL CELLARS LLC,101117,KSARA CAB - 750ML,WINE,0.33,1.0,2.0

In [18]:
#2(i)
# i noticed that the data is not that messy(there isnt object and numerical value in any column)
# I also noticed that the sales columns(item sales, retail sales, and warehouse sales,) has record of zero values
# I also noticed that the dataset is about the sales of a product(alcohol) of a warehouse.

In [19]:
warehouse.tail(10)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
307635,2020,9,REPUBLIC NATIONAL DISTRIBUTING CO,99694,PAULANER SALVATORE 4/6NR - 12OZ,BEER,0.25,2.0,5.00
307636,2020,9,SIERRA NEVADA BREWING CO,99708,SIERRA NEVADA PALE ALE 2/12 NR - 12OZ,BEER,35.00,19.0,288.00
307637,2020,9,SIERRA NEVADA BREWING CO,99716,SIERRA NEVADA PALE ALE 12/24OZ NR - 24OZ,BEER,0.00,0.0,58.00
307638,2020,9,LEGENDS LTD,99730,ERDINGER WEISS NR 12/CS - 16.9OZ,BEER,0.00,0.0,4.00
307639,2020,9,MILLER BREWING COMPANY,99740,MOLSON GOLDEN 2/12 LNNR - 12OZ,BEER,5.50,9.0,108.50
307640,2020,9,LEGENDS LTD,99753,DUTCHESS DE BOURGOGNE NR - 750ML,BEER,0.00,0.0,5.00
307641,2020,9,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,66.12,37.0,240.75
307642,2020,9,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,2.25,0.0,0.00
307643,2020,9,BOSTON BEER CORPORATION,99990,SAM ADAMS SUMMER VARIETY 12PK NR,BEER,20.50,0.0,0.00
307644,2020,9,NaN,WC,WINE CREDIT,REF,0.00,0.0,-70.00

In [20]:
#2(ii)
# yes, there are unusual patterns in the last few rows
# I noticed that the tail part is messy(mixture of numerical values and objects)

In [21]:
warehouse.columns
#2(iii)
# There are 307644 rows and 9 columns. No column has missing values.

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [22]:
warehouse.isnull().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [23]:
#The SUPPLIER COLUMN has 167 missing values, ITEM TYPE has 1 missing value and RETAIL SALES COLUMN has 3 missing values

In [24]:
warehouse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.1+ MB

In [25]:
#

In [26]:
warehouse.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,307645.000000,307645.000000,307642.000000,307645.000000,307645.000000
mean,2018.438525,6.423862,7.024071,6.936465,25.294597
std,1.083061,3.461812,30.986238,30.237195,249.916798
min,2017.000000,1.000000,-6.490000,-38.490000,-7800.000000
25%,2017.000000,3.000000,0.000000,0.000000,0.000000
50%,2019.000000,7.000000,0.320000,0.000000,1.000000
75%,2019.000000,9.000000,3.267500,3.000000,5.000000
max,2020.000000,12.000000,2739.000000,1990.830000,18317.000000

In [27]:
# in my own opinion, i dont think theres necessity for the mean month and mean year
# The column with the highest mean is the WAREHOUSE with the value of 25.294597
# The RETAIL SALES, RETAIL TRANSFER and WAREHOUSE SALES columns have unusual or suspicious minimum with the negative sign.
# They also have suspicious maximum too.

In [28]:
warehouse["RETAIL SALES"]

0          0.00
1          0.00
2          0.00
3          0.00
4          0.82
          ...
307640     0.00
307641    66.12
307642     2.25
307643    20.50
307644     0.00
Name: RETAIL SALES, Length: 307645, dtype: float64

In [29]:
warehouse["RETAIL TRANSFERS"]

0          0.0
1          1.0
2          0.0
3          0.0
4          0.0
          ...
307640     0.0
307641    37.0
307642     0.0
307643     0.0
307644     0.0
Name: RETAIL TRANSFERS, Length: 307645, dtype: float64

In [30]:
warehouse["WAREHOUSE SALES"]

0           2.00
1           4.00
2           1.00
3           1.00
4           0.00
           ...
307640      5.00
307641    240.75
307642      0.00
307643      0.00
307644    -70.00
Name: WAREHOUSE SALES, Length: 307645, dtype: float64

In [31]:
warehouse.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [32]:
warehouse.shape

(307645, 9)

In [33]:
# PART 2
# Selecting columns
warehouse["YEAR"]

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
307640    2020
307641    2020
307642    2020
307643    2020
307644    2020
Name: YEAR, Length: 307645, dtype: int64

In [34]:
warehouse["MONTH"]

0         1
1         1
2         1
3         1
4         1
         ..
307640    9
307641    9
307642    9
307643    9
307644    9
Name: MONTH, Length: 307645, dtype: int64

In [35]:
import pandas as pd
warehouse = pd.read_csv("/content/Warehouse_and_Retail_Sales.csv")

In [36]:
#SELECTING CATEGORICAL VARIABLE
warehouse["ITEM TYPE"]

0         WINE
1         WINE
2         BEER
3         WINE
4         WINE
          ...
307640    BEER
307641    BEER
307642    BEER
307643    BEER
307644     REF
Name: ITEM TYPE, Length: 307645, dtype: object

In [37]:
warehouse["ITEM DESCRIPTION"]

0                             BOOTLEG RED - 750ML
1                       MOMENT DE PLAISIR - 750ML
2             S SMITH ORGANIC PEAR CIDER - 18.7OZ
3                   SCHLINK HAUS KABINETT - 750ML
4                  SANTORINI GAVALA WHITE - 750ML
                           ...
307640           DUTCHESS DE BOURGOGNE NR - 750ML
307641                    HOEGAARDEN 4/6NR - 12OZ
307642    DOMINION OAK BARREL STOUT 4/6 NR - 12OZ
307643           SAM ADAMS SUMMER VARIETY 12PK NR
307644                                WINE CREDIT
Name: ITEM DESCRIPTION, Length: 307645, dtype: object

In [38]:
import pandas as pd
warehouse = pd.read_csv("/content/Warehouse_and_Retail_Sales.csv")

In [39]:
warehouse_filtered = warehouse[warehouse["WAREHOUSE SALES"]>3]

In [40]:
#

In [41]:
#Filtering Using loc
warehouse.loc[:, ["RETAIL SALES"]]

        RETAIL SALES
0               0.00
1               0.00
2               0.00
3               0.00
4               0.82
...              ...
307640          0.00
307641         66.12
307642          2.25
307643         20.50
307644          0.00

[307645 rows x 1 columns]

In [42]:
warehousefiltered = warehouse[warehouse["RETAIL SALES"] < 10.0]

In [ ]:
WAREHOUSE =warehouse.loc[5:12 , :]

In [ ]:
ware_house = warehouse.iloc[0:5 ,0:3]

In [ ]:
warehouse_iloc = warehouse.iloc[10:20 , 2:4]

In [47]:
warehouse_agg = warehouse.groupby("ITEM TYPE")["BEER"].sum()

KeyError: 'Column not found: BEER'