<a href="https://colab.research.google.com/github/Abdulwadud4/ACCESS-6.0-Data-Science-track/blob/main/week2_session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
amounts = np.array([1260, 2360, 3330, 6500, 4590, 5500, 2220, 4755, 8275, 6115, 2000, 6390, 2940, 7110, 6390, 4900,])
total = np.sum(amounts)
print(total)

74635

In [6]:
average = np.mean(amounts)
print(average)

4664.6875

In [7]:
print(len(amounts))

16

In [ ]:
#the number of transactions is the number of amounts that we have, and we have 16 numbers of transactions